$colorPrimary: #ec008c;

$colorGrey100: #F5F5F5;
$colorGrey200: #EEEEEE;
$colorGrey300: #E0E0E0;
$colorGrey400: #BDBDBD;
$colorGrey500: #9E9E9E;
$colorGrey600: #9E9E9E;
$colorGrey700: #616161;
$colorGrey800: #424242;
$colorGrey900: #212121;