.m-aboutPage {

    &__about {
        width: 100%;
       
        @include breakpoint($bpDesktopSmall) {
            display: flex;
            height: 100vh;
            overflow: hidden;
        }

        &--first {
            height: calc(100vh - #{$headerHeight});
        }
    }

    &__image {
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 90%;
        opacity: 1;
        transition: opacity 0.3s ease;
        
        @include breakpoint($bpDesktopSmall) {
            width: 50vw;
            height: 100%;
        }

        @include breakpoint($bpDesktop) {
            width: 55vw;
        }
    }

    &__content {
        width: 100%;        
        padding: 1.5rem;

        @include breakpoint($bpDesktopSmall) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 45vw;
            padding: 3rem;
        }
    }

    &__title {
        margin: 0 0 1rem 0;
        border-bottom: 2px solid $colorPrimary;
    }

    &__entryContent {
        font-size: 18px;
        color: $colorGrey700;
        line-height: 1.55;

        @include breakpoint($bpDesktopSmall) {
            font-size: 22px;
        }

        a {
            color: $colorPrimary;
        }
    }

    .is-loading & {
        filter: blur(4px);
        transition: all 0.3s ease;
        .m-aboutPage__image {
            transform: opacity(0);
        }

        .m-aboutPage__content {
            
        }
    }
    
}