.m-lightbox {
    
    & {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(#fff, 0.95);
        z-index: 1;
        opacity: 0;
        // visibility: hidden;
        transform: scale(0.8);
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        pointer-events: none;
    }
    
    &.is-active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        z-index: 510;
        pointer-events: auto;
    }
    
    &__slider {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
    
    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            display: block;
            max-width: calc(100vw - 2em);
            max-height: 90vh;
            opacity: 0;
            transition: opacity 0.3s ease;
            
            @include breakpoint(768px) {
                max-width: calc(100vw - 116px);
                max-height: 90vh;
            }
        }
        
        &.is-loaded.is-active {
            img {
                opacity: 1;
            }
            
            .spinner {
                display: none;
            }
        }
    }
    
    button {
        position: absolute;
        margin: 0;
        padding: 0;
        z-index: 102;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    
    &__close {        
        top: 1em;
        right: 1em;        
    }
    
    &__nextPrev {
        top: 50%;
        transform: translateY(-50%);
        width: 42px;
        height: 42px;
        visibility: hidden;
        opacity: 0;
        transform: scale(0.5);
        transition: 
            opacity 0.3s ease-out,
            transform 0.3s ease-out;
        
        &.is-active {
            visibility: hidden;
            transform: scale(1);
            opacity: 1;
            
            @include breakpoint(1024px) {
                visibility: visible;
            }
        }
        
        svg {
            display: block;
            width: 100%;
            height: auto;
        }
        
        &--next {
            right: 1em;
        }
        
        &--prev {
            left: 1em;
        }
        
        &:hover {
            cursor: pointer;
        }
    }
    
    &__counter {
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        color: #333;
        font-weight: 700;
        font-family: $fontHeader;
    }
}

.spinner {
    
    & {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    
    &::before,
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #333;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }
    
    &::after {
        animation-delay: -1.0s;    
    }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
    
    } 50% { 
        transform: scale(1.0);
    }
}