.m-profileExcerpt {
    
    & {       
        max-width: 75ch;
        margin: 0 auto 300px;
        text-align: center;
        padding: 0 1.5em;

        @include breakpoint($bpSmall) {
            display: flex; 
        }
    }

    &__person {
        margin-bottom: 1.5em;

        @include breakpoint($bpSmall) {
            margin-bottom: 0;
        }
    }

    &__artistTitle {

        a {
            text-decoration: none;
            color: $colorGrey900;

            &:hover {
                color: $colorPrimary;
            }
        }
    }

    &__thumbnail {
        
        img {
            display: block;
            border-radius: 150px;
            border: 8px solid $colorGrey300;
            margin: 0 auto;
            transition: border 0.3s ease;
        }

        a {

            &:hover {
                > img {
                    border-color: $colorPrimary;
                    transition: border 0.3s ease;
                }
            }
        }
    }

    &__title {
        margin-bottom: 0;
    }

    &__contentWrap {
        text-align: center;

        @include breakpoint($bpSmall) {
            padding: 0 0 0 2em;
            display: flex;
            flex-direction: column;
            text-align: left;
        }
    }

    &__content {

        h3 {
            margin: 0 0 1rem 0;
            line-height: 1.5;
            font-size: 1.375em;
            color: $colorGrey800;
            border-bottom: 1px solid #ec008c;
            padding-bottom: 0.25em;

            @include breakpoint($bpSmall) {
                border-bottom: none;
            }
        }

        p {
            font-size: 18px;
            margin: 0 0 1.25em 0;
            text-align: center;
            line-height: 1.55;
            color: $colorGrey800;

            @include breakpoint($bpSmall) {
                text-align: left;
            }

            a {
                color: $colorPrimary;
            }
        }
    }

    &__socialList {
       @include socialList($colorGrey400);
    }
}