.m-siteHeader {

    & {
        width: 100%;
        background-color: $colorPrimary;
        height: $headerHeight;
        overflow: hidden;
        z-index: 501;
        display: flex;
    }

    &.headroom {
        position: fixed;
        top: 0;
        left: 0;
        transition: transform 0.3s ease-out;

        &--unpinned {          
            transform: translateY(-100%);
        }

        &--autoscroll {
            transform: translateY(0) !important;
        }
    }

    &__title {
        width: $headerHeight;
        height: $headerHeight;

        svg {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__nav {
        margin-left: auto;
        display: flex;
        flex-grow: 1;
    }
}