%e-blockquote {    
    font-style: italic;
    position: relative;
    margin: 2em 0;    
    text-align: left;
    padding: 0.25em 0 0.25em 1em;

    @include breakpoint($bpSmall) {
        font-size: 1.75rem;
        padding: 0.25rem 0 0.25rem 2em;
    }
    
    p {
        margin: 0.5rem 0 0;
        transform: translateY(25%);
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 2px;
        background-color: $colorPrimary;
        transform: scale(0);
        transform-origin: top center;
        transition: all 0.3s ease-out;

        @include breakpoint($bpSmall) {
            width: 4px;
        }
    }

    &.is-active,
    .no-js & {
        p {
            opacity: 1;
            transform: translateY(0);
        }

        &::before {
            transform: scale(1);
        }
    }
}