.e-entryContent {

    & {
        font-size: 1.25em;
        font-family: $fontBody;

        @include breakpoint($bpSmall) {
            font-size: 1.375em;
        }
    }

    p {
        &:first-child {
            margin-top: 0;
        }
    }

    > p {
        &:first-of-type {
            &::first-letter {
                float: left;
                padding: 0 0.25em;
                line-height: 1.2;
                font-size: 2.5em;
                color: $colorPrimary;
                
                @include breakpoint($bpSmall) {                    
                    padding: 0 0.25em;
                    font-size: 3.5em;
                    line-height: .83;
                }  
                
                @include breakpoint($bpDesktop) {
                    font-size: 5em;
                    padding-top: 0.0625em;
                    line-height: .73
                }
            }
        }
    }

    a {
        color: $colorPrimary;
    }
    
    p,ul,ol {
        line-height: 1.55;
        color: $colorGrey700;
    }

    p,ul,ol,blockquote {
        & + .wp-caption,
        & + .m-entryCollection,
        & + .m-article__iframe {
            margin-top: 3rem;
        }
    }

    ul,ol {
        margin: 2em 0;
        padding: 0 0 0 1.5em;
    }

    h2 {
        font-size: 1.25em;
        border-bottom: 1px solid $colorPrimary;
        font-weight: 700;
        margin-bottom: 0.25em;
    }

    h1,h2,h3,h4,h5,h6 {
        color: $colorGrey900;
    }

    blockquote {
        @extend %e-blockquote;
    }

    .wp-caption {
        @extend %e-wp-caption;
    }
    .wp-caption-text {
        @extend %e-wp-caption-text;
    }
}