// Import fonts
@import url('https://use.typekit.net/nqe6umn.css');

// General imports
@import 'normalize/import-now';
@import 'breakpoint';
@import 'susy';

// Settings
@import 'settings/fonts';
@import 'settings/colors';
@import 'settings/breakpoints';
$headerHeight: 50px;

:root {
    --headerHeight: 50px;
}

@mixin socialList($color) {
    list-style: none;
    margin: auto 0 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

    li {
        width: 22px;
        height: 22px;
        
        @include breakpoint($bpSmall) {
            margin: 0 2.5em 0 0;                
        }
    }

    a {
        color: $color;

        &:hover {
            svg {
                fill: $colorPrimary;
            }
        }
    }

    svg {
        fill: $color;
        transition: fill 0.3s ease-out;
    }
}

//Layout
@import 'layout/l-site';

// Mixins

// Base
@import 'base/base';

// Elements
@import 'elements/e-blockquote';
@import 'elements/e-fluidVideo';
@import 'elements/e-scaleLoader';
@import 'elements/e-contentBreakout';
@import 'elements/e-wp-caption';
@import 'elements/e-entryContent';

// Modules
@import 'modules/m-entryCollection';
@import 'modules/m-articleExcerpt';
@import 'modules/m-article';
@import 'modules/m-siteHeader';
@import 'modules/m-siteLogo';
@import 'modules/m-gallerySimple';
@import 'modules/m-galleryList';
@import 'modules/m-lightbox';
@import 'modules/m-siteNav';
@import 'modules/m-profileExcerpt';
@import 'modules/m-aboutPage';
@import 'modules/m-artistProfile';

// State